
/* body tag contains image url and size set to cover entire page */
body {
    background-image: url(../../assets/img/greenfamily.jpg);
    background-size: cover;
}

/* form tag positioning and font properties are set*/
#form {
    width:30%;
    height:auto;
    margin:auto;  /*to center the form horizontally */
    background-color: #fff; /*setting background color to white */
    border-radius:5px;  /*curvature of border of form*/
    padding:30px;
    /*shadow to the right and below the box to 2px,
     blurring by 8px and setting color to semi-transparent */
    box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    margin-top: 70px;  /*margin from top of page 70px*/
    font-family: 'Open Sans', sans-serif;
}

/* "sign into greencity" h1 tag font and color set */
h1{
  font-family: 'Open Sans', sans-serif;
  color: #434c5f;
}

/* h1 tag's 1st inner span tag "sign in" font properties set */
h1 > span:nth-child(1){
  font-size:18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* h1 tags gtitle class "greencity" font set to green */
h1 > .gtitle{
  color: #27ae60;
}

/* adding padding to container class which has
input,label, and button tags*/
.container {
    padding: 16px;
}

/* label tag "username" and "password" font properties set */
label{
  font-size:13px;
  opacity: 0.4;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* h3 tag "enter your details below" properties set */
h3 {
    text-align: center;
    color: #596377;
    font-family: 'Open Sans', sans-serif;
}
#error {
    text-align: center;
    color:#c0392b;
    font-family: 'Open Sans', sans-serif;
}

/* user input of username and password*/
input[type= email],input[type=text], input[type=password] {
    width: 100%;
    height: 40px;
    margin: 8px 0; /*top and bottom margins 8px, left and right margins 0*/
    display: inline-block;
    border: none; /*removing border*/
    border-bottom: 1px solid #000; /*giving the box a black border bottom*/
    background: transparent;
    outline:none; /*removing blue outline of the input box*/
    margin-bottom:20px;
}

/* setting button font and style properties */
input[type= submit] {
    background-color: #7EC289; /*shade of green*/
    color: white;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 8px 8px 70px;
    border: none;
    border-radius: 25px;
    cursor: pointer;   /* cursor becomes a pointer  */
    width: 50%;
    /*shadow to the right and below the box to 1px,
     blurring by 4px and setting color to semi-transparent */
    box-shadow:1px 1px 4px rgba(0,0,0,0.4);
    /* setting transition properites  */
    transition: box-shadow 0.3s, color 0.3s ease-out, background-color 0.3s ease-out;
    letter-spacing: 1px;
    position: relative;
    top:30px;
}

/*hover effect for button- another shade of green */
input[type=button]:hover {
    background-color:#D1E489;
}


